{% extends "core/base.html" %}
{% load static %}
{% block content %}
    <h3 class="page-header">Oferta</h3>
    <div class="d-flex flex-wrap justify-content-center">
        
        <div class="card m-2 " style="width: 18rem;">
            <a class="offer-link" href="{% url 'prices' %}">
                <img src="{% static 'imgs/night.jpg' %}" class="card-img-top" alt="...">
                <h5 class="card-title d-flex justify-content-center mt-2">Odwiedziny grobu</h5>
                <div class="card-body">
                    <p class="card-text card-text-offer">wizyta na grobie zmarłego, obmieceniu 
                        płyty nagrobnej i zapalenie znicza</p>
                </div>
            </a>
        </div>
        
        
        <div class="card m-2" style="width: 18rem;">
            <a class="offer-link" href="{% url 'prices' %}">
                <img src="{% static 'imgs/night.jpg' %}" class="card-img-top" alt="...">
                <h5 class="card-title d-flex justify-content-center mt-2">Sprzątanie grobu</h5>
                <div class="card-body">
                    <p class="card-text card-text-offer">uporządkowanie grobu, płyty nagrobnej, wypielenie chwastów, uprzątnięcie starych zniczy, kwiatów, zagrabienie, zmieceniu wokół nagrobka</p>
                </div>
            </a>
        </div>  
          
        
        <div class="card m-2" style="width: 18rem;">
            <a class="offer-link" href="{% url 'prices' %}">
                <img src="{% static 'imgs/night.jpg' %}" class="card-img-top" alt="...">
                <h5 class="card-title d-flex justify-content-center mt-2">Mycie nagrobka</h5>
                <div class="card-body">
                    <p class="card-text card-text-offer">uporządkowanie płyty nagrobnej, wypielenie chwastów, uprzątnięcie starych zniczy i kwiatów, zagrabienie, zmiecenie wokół grobu, umycie nagrobka środkami czyszczącymi</p>
                </div>
            </a>
        </div>

        
    </div>
    
{% endblock %}