{% extends "core/base.html" %}
{% block content %}
    <h3>Cennik</h3>
    <h3>Sprzątanie grobu</h3>
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col"></th>
                <th scope="col">Grób pojedynczy</th>
                <th scope="col">Grób podwójny</th>
                <th scope="col">Grobowiec</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1 raz w roku</th>
                <td>60 zł</td>
                <td>80 zł</td>
                <td>100 zł</td>
            </tr>
            <tr>
                <th scope="row">3 razy w roku*</th>
                <td>160 zł</td>
                <td>220 zł</td>
                <td>280 zł</td>
            </tr>
            <tr>
                <th scope="row">6 razy w roku</th>
                <td>340 zł</td>
                <td>460 zł</td>
                <td>580 zł</td>
            </tr>
            <tr>
                <th scope="row">12 razy w roku</th>
                <td>340 zł</td>
                <td>460 zł</td>
                <td>580 zł</td>
            </tr>
        </tbody>
    </table>    
    <h3>Mycie nagrobka</h3>
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col"></th>
                <th scope="col">Grób pojedynczy</th>
                <th scope="col">Grób podwójny</th>
                <th scope="col">Grobowiec</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1 raz w roku</th>
                <td>60 zł</td>
                <td>80 zł</td>
                <td>100 zł</td>
            </tr>
            <tr>
                <th scope="row">3 razy w roku*</th>
                <td>160 zł</td>
                <td>220 zł</td>
                <td>280 zł</td>
            </tr>
            <tr>
                <th scope="row">6 razy w roku</th>
                <td>340 zł</td>
                <td>460 zł</td>
                <td>580 zł</td>
            </tr>
            <tr>
                <th scope="row">12 razy w roku</th>
                <td>340 zł</td>
                <td>460 zł</td>
                <td>580 zł</td>
            </tr>
        </tbody>
    </table>    
    
    <p>* usługa wykonywana przed Uroczystością Wszystkich Świętych, Świętami Bożego Narodzenia i Świętami Wielkanocnymi</p>
{% endblock %}