
body {
    background-color: lightgray;
}
nav {
    font-family: 'Abril Fatface', cursive;
    font-size: 20px;
}

.navbar-brand{
    font-size: 24px;
}
#navbarNav{
    flex-grow: initial;
}

@media (max-width: 768px) { 
    .buttons{
        flex-direction: column;
        align-items: center;
    }
    .buttons-btn{
        width: 50%!important;
        margin-bottom: 2rem;
    }
}

